### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Maven ###
target/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store/

### Jade ###
jade/

### NodeJS modules
frontend/node_modules/

### Others ###
reference/
logs/
results/